# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
*.env
!.env.example

# Dependencies
node_modules/
vendor/

# Build output
dist/
build/
*.exe
tmp/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Go
*.test
*.out

# Expo
.expo/
.expo-shared/

# Coverage
coverage/
